Submission/test.sh
also_words.txt
contacts.csv
output.txt
words.txt
capital_words.txt
copy_output_3.txt
output_3.txt
words.txt
short_word_list.txt
Submission/output_4_4.txt
Submission/output_4_1.txt
Submission/output_4_2.txt
Submission/output_4_3.txt
