/* Variables */
:root {
  --black: #000000;
  --white: #ffffff;
  --green: #1db954;
  --grey: #4e4e4e;
  --echo-pink: #aa73e4;
  --echo-blue: #0698d8;
  --echo-mid1: #757ee1;
}

/* Body */
body {
  background: var(--black);
  color: var(--white);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  height: 100%;
  margin-bottom: 100px;
  clear: both;
}

.title-header {
  /* Make the text have space of 50px to the left from left margin */
  margin-left: 250px;
  font-size: 1.5rem;
  display: inline;
}

.title-header:hover {
  color: var(--echo-pink);
}

.see-all {
  font-size: 0.9rem;
  text-align: right;
  display: inline;
  text-decoration: none;
  color: var(--white);
}

.see-all:hover {
  color: var(--echo-pink);
  cursor: pointer;
}

/* Header */

ul {
  list-style: none;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
  height: 5.5rem;
  width: 100%;
}

.header-container {
  display: flex;
  background-color: var(--black);
  justify-content: space-between;
  max-width: 100%;
  height: 4.5rem;
  padding-left: 0;
  padding-right: 0;
}

.header-logo {
  display: flex;
  align-items: center;
  max-height: 100%;
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
  height: 4rem;
  padding-right: 3rem;
}

.navbar a {
  font-size: 1.5rem;
  color: var(--white);
  text-decoration: none;
  font-weight: 700;
  height: 3rem;
  width: 125px;
  text-align: center;
  padding-top: 1.5rem;
}

/* .navbar a:hover {
  background-color: var(--pink);
} */

.navbar a:hover {
  color: var(--echo-blue);
}

.line-right {
  border-right: 2px solid var(--white);
  padding-left: 1rem;
  padding-right: 1rem;
  height: 3rem;
}

.line-left {
  border-left: 2px solid var(--white);
  padding-left: 1rem;
  padding-right: 1rem;
  height: 3rem;
}

.profile-icon {
  width: 1.6rem;
  fill: var(--white);
  padding-left: 2rem;
}

/* Album Art */
.box-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  justify-items: center;
  margin-top: 10px;
  margin-left: 210px;
  padding-bottom: 50px;
}

.box-caption {
  position: absolute;
  max-width: 200px;
  word-break: break-word;
}
/* 
.align-center {
  position: absolute;
  max-width: 200px;
  word-break: break-word;
} */

.box-flex {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding: 0.5rem;
  text-align: center;
  font-size: 1rem;
  word-break: break-word;
  background-color: black;
  color: #d9d9d9;
}

.box-caption {
  display: none;
}

.box-img {
  width: 300px;
}

.box-img:hover {
  filter: brightness(20%);
}

.box-flex-center a:hover + .box-caption {
  display: block;
  position: absolute;
  max-width: 200px;
  word-break: break-word;
  padding-top: 100px;
}

/* Side Nav */
.sidenav {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 210px;
  position: fixed;
  z-index: 1;
  top: 4rem;
  left: 0;
  padding: 10px 0 0 20px;
  overflow: hidden;
  border-right: 1px var(--black);
}

.col-md-2 {
  color: var(--black);
}
.logo img {
  max-width: 150px;
  background-color: transparent;
}
.menulink a {
  padding: 6px 6px 6px 0;
  text-decoration: none;
  color: white;
  display: block;
}

.menulink a:hover {
  /* text-decoration: underline; */
  color: var(--echo-pink);
}
.menulink a:first-child {
  color: white;
  padding-left: 10px;
  /* border-left: 2px solid green; */
}
.menulink i {
  padding-right: 20px;
}
.btn {
  width: 90%;
  height: 47px;
  border-radius: 32px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 18px;
}
.btn-light {
  background-color: white;
  color: black;
}
.btn-dark {
  background-color: #2b2525;
  color: white;
  border-color: white;
}
.cookie a {
  color: #818181;
  text-decoration: none;
}
.cookie a:hover {
  color: var(--echo-pink);
}

.btn:hover {
  background-color: var(--echo-pink);
  color: white;
}
.Home,
.Artists,
.Albums,
.Awards {
  color: white;
  background-color: transparent;
}
.col-md-4 img {
  padding-top: 10px;
  width: 20px;
  height: 20px;
}

/* Footer */
footer {
  bottom: 0;
  width: 100%;
  height: 100px;
  background: var(--black);
  color: var(--white);
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.footer-text ul li a {
  margin-right: 1.5rem;
  padding: 1rem;
  color: var(--white);
  text-decoration: none;
  z-index: 999;
}

.footer-text ul li a:hover {
  text-decoration: underline;
}

.social-icons {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.social-icons ul li {
  margin-right: 1.5rem;
  padding: 1rem;
}
