<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}" />
    <title>Form submitted</title>
  </head>
  <body>
    <div class="header">
      <a class="active form-link" href="/">Form Main Page</a>
      <a class="user-link" href="/users">All Users</a>
    </div>
    <h1>Thank you <b>{{ name }}</b> for registering!!!</h1>
    <p>Details entered:</p>
    <ul>
      <li>Name: {{ name }}</li>
      <li>
        Email:
        <a class="all-users-email" href="/users/{{ email }}">{{ email }}</a>
      </li>
      <li>Password: {{ password }}</li>
    </ul>
  </body>
</html>
